h1 {
 font-size: 3rem; 
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.2rem;
}

.bg-salmon {
  background-color: #FF8661;
  font-weight: lighter;
}

.bg-green {
  background-color: #92EA81;
}

.bgd-img-1 {
  background-image: url("images/uno.jpg");
  background-position: center;
  background-size: cover;
  height: 60vh;
  filter: grayscale(100%);
}

.bgd-img-2 {
  background-image: url("images/dos.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  filter: grayscale(100%);
}

.bgd-img-3 {
  background-image: url("images/tres.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  filter: grayscale(100%);
}

.img-thumbnail {
  padding: 0.75rem;
  border-radius: 0rem;
}
